<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Details</title>
</head>
<body>
    <h1>Account Already Created</h1>
    <a href="/login"><button >Log into Account</button></a>
</body>
</html>
