<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Home Page</h1>
    <p>landing page for the server</p>
    <a href="/create"><button >Create an Account</button></a>
    <a href="/login"><button >Log into Account</button></a>
   
</body>
</html>